<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RegisterLogin"
        tools:targetApi="31" >
        <activity android:name=".GaguActivity"
            android:exported="false">
        </activity>
        <activity android:name=".CreamActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ContainerActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ClothesActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ElecActivity"
            android:exported="false">
        </activity>
        <activity android:name=".Elec2Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Elec3Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Elec4Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Elec5Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Elec6Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Elec7Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Gagu2Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Gagu3Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Gagu4Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Gagu5Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Gagu6Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Gagu7Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Cream3Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Cream4Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Cream5Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Cream6Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Cream7Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Cream2Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Container2Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Container3Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Container4Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Container5Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Container6Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Container7Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Clothes7Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Clothes6Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Clothes5Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Clothes4Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Clothes3Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Clothes2Activity"
            android:exported="false">
        </activity>
        <activity android:name=".Book2Activity"
            android:exported="false"/>
        <activity android:name=".Book3Activity"
            android:exported="false"/>
        <activity android:name=".Book4Activity"
            android:exported="false"/>
        <activity android:name=".Book5Activity"
            android:exported="false"/>
        <activity android:name=".Book6Activity"
            android:exported="false"/>
        <activity android:name=".Book7Activity"
            android:exported="false"/>

        <activity android:name=".BookActivity"
            android:exported="false"/>

        <activity android:name=".CategoryActivity"
            android:exported="false"/>

        <activity android:name=".RecyclingActivity"
            android:exported="false"/>

        <activity android:name=".MeActivity"
            android:exported="false"/>

        <activity android:name=".CompanyActivity"
            android:exported="false"/>

        <activity android:name=".ValidateRequest"
            android:exported="false"/>

        <activity android:name=".SearchingAdapter"
            android:exported="false"/>

        <activity android:name=".RegisterRequest"
            android:exported="false"/>

        <activity android:name=".LoginRequest"
            android:exported="false"/>

        <activity android:name=".ImageSliderAdapter"
            android:exported="false"/>

        <activity android:name=".Searching"
            android:exported="false"/>

        <activity android:name=".TrashSetting"
            android:exported="false"/>

        <activity android:name=".Ranking"
            android:exported="false"/>

        <activity android:name=".DetailActivity"
            android:exported="false"/>

        <activity android:name=".FreeActivity"
            android:exported="false"/>

        <activity android:name=".HotActivity"
            android:exported="false"/>

        <activity android:name=".NeedActivity"
            android:exported="false"/>

        <activity android:name=".WriteActivity"
            android:exported="false"/>

        <activity android:name=".BoardActivity"
            android:exported="false"/>

        <activity android:name=".TipActivity"
            android:exported="false"/>
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".MaainActivity"
            android:exported="false" />

        <activity
            android:name=".ShootActivity"
            android:exported="false" />

        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            tools:ignore="DuplicateActivity" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.registerlogin"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>